<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>

        <!-- 1) Gdy URL ma rozszerzenie, a plik fizycznie jest pod /app -> przepnij do /app/{plik} -->
        <rule name="Mapuj statyki na /app" stopProcessing="true">
		  <!-- Łapie np. main.js, assets/img/logo.png, fonts/roboto.woff2 itp. -->
		  <match url="^((?:.*/)?[^/]+\.[^/]+)$" />
          <conditions logicalGrouping="MatchAll">
            <!-- Pliku nie ma w katalogu głównym -->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <!-- Ale jest w /app -->
            <add input="{APPL_PHYSICAL_PATH}app\{R:1}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="/app/{R:1}" />
        </rule>

        <!-- 2) Jeżeli (po aktualnym URL) istnieje fizyczny plik -> serwuj go z IIS -->
        <rule name="Serwuj istniejące pliki" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>

        <!-- 3) TYLKO trasy bez kropki (SPA) -> do Node (server.js) -->
        <rule name="SPA do Node (bez rozszerzeń)" stopProcessing="true">
          <!-- brak kropki w całym URL -->
          <match url="^(?!.*\.).*$" />
          <action type="Rewrite" url="server.js" />
        </rule>

        <!-- 4) Reszta (np. nieistniejące pliki z rozszerzeniem) -> zwykłe 404 z IIS -->
        <!-- brak akcji: pozwalamy IIS zwrócić 404 dla brakujących plików -->

      </rules>
    </rewrite>

    <iisnode
      watchedFiles="web.config;*.js"
      nodeProcessCommandLine="%programfiles%\nodejs\node.exe"
      loggingEnabled="false"
      devErrorsEnabled="false" />
  </system.webServer>
</configuration>
